{% extends 'base.html.twig' %}

{% block title %}About Us{% endblock %}

{% block body %}
    <div class="container">
        <h1>About Us</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod dolor nec velit accumsan, sit amet volutpat urna mollis. Duis in felis ac velit accumsan rhoncus eget id metus. Fusce aliquam tellus eget turpis laoreet convallis. Donec vel purus vitae turpis lacinia pretium vel nec ligula. Nulla facilisi. Vivamus non augue vel est scelerisque tempor. Vestibulum sit amet dui non eros varius vestibulum. Duis lacinia fermentum neque, id convallis libero faucibus ut. Sed nec sollicitudin purus. Nunc in turpis tortor.</p>
        <p>Sed vel libero id nisi tincidunt fermentum nec et nunc. Integer nec tincidunt libero, sit amet congue metus. Nulla facilisi. Phasellus tempor, sapien ut viverra ultrices, leo libero posuere elit, sed fringilla metus tortor eget felis. Vivamus id lorem vitae tortor rhoncus faucibus. Sed nec velit est. Nulla facilisi. In hac habitasse platea dictumst. Curabitur tincidunt ligula nec interdum finibus.</p>
    </div>
{% endblock %}